html
    head
        script(src="node_modules/angular/angular.min.js")
        script(src="dist/knob.js")
    body(ng-app="knob",ng-controller="knobCtrl")
        table
            tr(ng-repeat="i in [1,2,3,4]")
                td(ng-repeat="j in [1,2,3,5,6]")
                        knob(pos="value")
        p {{value}}
