html
    head
        script(src="node_modules/angular/angular.min.js")
        script(src="dist/knob.js")
    body(ng-app="knob",ng-controller="knobCtrl")
        knob(height="20vh",width="20vh",pos="value",color="rgb({{value}},0,0)",max="255")
        p {{value}}
