html
    head
        script(src="node_modules/angular/angular.min.js")
        script(src="node_modules/ng-knob/dist/knob.js")
    body(ng-app="knob")
        div(style="height:100%; display:-webkit-flex; display:flex; flex-direction:column; justify-items:space-around")
            div(style="display:flex; flex-direction:row;justify-content:space-around")
                knob(pos="size")
                knob(width="{{size}}",height="{{size}}",pos="size2")
                table
                    tr(ng-repeat="i in [1,2,3,4,5,6,7]")
                        td(ng-repeat="j in [1,2,3,4,5,6,7]")
                            knob(color="rgb({{$parent.$parent.v[(i+j)%4]}},{{$parent.$parent.v[(i*i+j*3)%4]}},150)",
                            pos="$parent.$parent.v[(i*i+j*j)%4]",width="{{size2}}",height="{{size2}}")
